<%- include("templates/header") %>

    <div class="text-center" style="min-height: 76vh;">
        <h2 class="text-danger">403 Forbidden</h2>
        <p>You are not authorized to view this page.</p>
        <a href="/members" class="btn btn-primary mt-4">Back to Members</a>
    </div>

    <%- include("templates/footer") %>