<%- include("templates/header") %>

    <div class="text-center">
        <h2>404 – Page Not Found</h2>
        <a href="/" class="btn btn-primary mt-3">Go Home</a>
    </div>

    <%- include("templates/footer") %>