<%- include("templates/header") %>

    <h2>Hello, <%= name %>
    </h2>
    <div class="row">
        <% images.forEach(image=> { %>
            <div class="col-12 col-md-4 mb-3">
                <img src="/<%= image %>" class="img-fluid rounded" alt="Image" />
            </div>
            <% }) %>
    </div>
    <a href="/logout" class="btn btn-danger mt-3">Logout</a>

    <%- include("templates/footer") %>